.DS_Store
__MACOSX
robots.txt.dist
*.zip
/dist.zip
/bin
/cache
/cli
/tmp
/templates
/libraries
/layouts
/includes
/images
/node_modules
/build
/logs
/media
/api
/installation
/dist
/files

.vscode
LICENSE.txt
README.txt
configuration.php
htaccess.txt
.htaccess
index.php
robots.txt
web.config.txt
yarn.lock
phpinfo.php

/plugins

!/modules
/modules/*
!/modules/mod_speasyimagegallery

!/language
/language/*

!/language/en-GB
/language/en-GB/*
!/language/en-GB/en-GB.com_speasyimagegallery.ini
!/language/en-GB/en-GB.mod_speasyimagegallery.ini

!/components
/components/*
!/components/com_speasyimagegallery

!/administrator
/administrator/*

!/administrator/components
/administrator/components/*
!/administrator/components/com_speasyimagegallery

!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_speasyimagegallery.ini
!/administrator/language/en-GB/en-GB.com_speasyimagegallery.sys.ini
